@use "../style.scss" as *;
#block-editor {
  position: absolute;
  width: 100vw;
  height: calc(100vh - $top-bar-height);
  top: $top-bar-height;
}

#toolbox-search-input {
  width: 100px;
  padding-right: 10px;
}

[data-theme="light"] .blocklyTreeSeparator {
  border-bottom: solid #888 1px;
}

.sl-toast-stack {
  left: 50%;
  transform: translateX(-50%);
  right: auto;
}

#unsandboxed {
  color: white;
}

#extensionGallery {
  --width: 80vw;
}

