@use "../style.scss" as *;
#block-editor {
  position: absolute;
  width: 100vw;
  height: calc(100vh - $top-bar-height);
  top: $top-bar-height;
}

#toolbox-search-input {
  width: 100px;
  padding-right: 10px;
}

:root:not([data-theme="dark"]) .blocklyTreeSeparator {
  border-bottom: solid #888 1px;
}

