@use "../style.scss" as *;

#box {
  position: absolute;
  width: 100vw;
  height: calc(100vh - $top-bar-height);
  top: $top-bar-height;
}

#box {
  background: $bg-light;
}

[data-theme="dark"]
#box {
  background: $bg-dark;
}


