@use "../style.scss" as *;

#box {
  position: absolute;
  width: 100vw;
  height: calc(100vh - $top-bar-height);
  top: $top-bar-height;
  display: flex;
  gap: 16px;
}

#box {
  background: $bg-light;
}

#toc {
  flex: 0 0 auto;
  padding-top: 10px;
  gap: 5px;
}

[data-theme="light"]
#toc {
  background: #DCDCDC;
  :hover {
    background: #E3E3E3;
  }
  [selected] {
    background: #7F7F7F;
  }
}

[data-theme="dark"]
#toc {
  background: #363636;
  :hover {
    background: #5C5C5C;
  }
  [selected] {
    background: #7F7F7F;
  }
}

#content {
  flex: 1;
  overflow: auto;
}

[data-theme="dark"]
#box {
  background: $bg-dark;
}


:root {
  --bordercolor: #000000
}

[data-theme="dark"]
:root {
  --bordercolor: #ffffff
}

pre.hljs {
  background: #232331;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.code-copy-button {
    position: absolute;
    top: 15px;
    right: 0;
    white-space: normal;
    color: white;
    transition: 150ms opacity, 150ms scale;
    height: 40px;
}

pre .code-copy-button {
  // opacity: 0;
}

