@use "../style.scss" as *;

#box {
  position: absolute;
  width: 100vw;
  height: calc(100vh - $top-bar-height);
  top: $top-bar-height;
  display: flex;
  gap: 16px;
}

#box {
  background: $bg-light;
}

#content {
  flex: 1;
  overflow: auto;
}

[data-theme="dark"]
#box {
  background: $bg-dark;
}

pre.hljs {
  position: relative;
  background: #232331;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.code-copy-button {
  position:absolute;
  top: 15px;
  right: 0;
  white-space: normal;
  color: white;
  transition: 150ms opacity, 150ms scale;
  height: 40px;
}

pre .code-copy-button {
  opacity: 0;
}

pre:hover .code-copy-button {
  opacity: 1;
}

