<div id="top-bar">
    <sl-dropdown id="theme-selector">
        <sl-tooltip slot="trigger" content="themes" style="display: inline-block;">
            <sl-button variant="text">
                <sl-icon class="only-light" name="sun-fill"></sl-icon>
                <sl-icon class="only-dark" name="moon-fill"></sl-icon>
            </sl-button>
        </sl-tooltip>
        <sl-menu role="menu">
            <sl-menu-item type="checkbox" value="light">Light</sl-menu-item>
            <sl-menu-item type="checkbox" value="dark">Dark</sl-menu-item>
            <sl-divider></sl-divider>
            <sl-menu-item type="checkbox" value="auto" checked>System</sl-menu-item>
        </sl-menu>
    </sl-dropdown>
    <sl-tooltip content="discord">
        <a href="https://discord.gg/ytGGpJ8RPB" target="_blank">
            <sl-button>
                <sl-icon name="discord"></sl-icon>
            </sl-button>
        </a>
    </sl-tooltip>

    <sl-tooltip content="github">
        <a href="https://github.com/PenguinBuilder/PenguinBuilder.github.io" target="_blank">
            <sl-button>
                <sl-icon name="github"></sl-icon>
            </sl-button>
        </a>
    </sl-tooltip>
    {{#if @partial-block}}
    <sl-divider vertical></sl-divider>
    {{> @partial-block}}
    {{/if}}
    <sl-tooltip content="whats new">
        <sl-button id="version">{{version}}</sl-button>
    </sl-tooltip>
    <sl-tooltip id="change-branch-tooltip">
        <a id="change-branch">
            <sl-button>
                <sl-icon name="git"></sl-icon>
            </sl-button>
        </a>
    </sl-tooltip>

<sl-dialog label="Whats new" id="whats-new">
    {{whats-new}}
</sl-dialog>
    <script type="module">
        import "@/top-bar.ts"
    </script>
</div>
