$base: #00C3FF;
$light: #62D8FC;
$top-bar-height: 30px;
$bg-dark: #232323;
$bg-light: white;

#top-bar {
  display: flex;
  position: absolute;
  align-items: center; 
  top: 0;
  left: 0;
  height: $top-bar-height;
  width: 100vw;
  > a,
  > sl-dropdown{
    margin-top: 5px;
  }
}

#version {
  margin-left: auto;
}

html, body {
  margin: 0;
  padding: 0;
  background: $base;
}

sl-badge::part(base) {
  background: $light;
  border: none;
}

sl-button {
  background: $base;
  color: white;
  border: none;
}

sl-button::part(base) {
  background: $base;
  color: white;
  border: none;
  outline: none;
}

sl-button::part(base):hover {
  background: $light;
}

sl-menu {
  background: $base;
}

sl-menu-item::part(base):active {
  background: $base;
}

sl-icon {
  font-size: 18px;
  color: white;
}

[data-theme="dark"] .only-light { display: none; }
[data-theme="light"] .only-dark { display: none; }

sl-menu-item::part(base) {
  background: $base;
  color: white;
}

sl-menu-item::part(base):hover,
sl-menu-item::part(base):focus-visible,
sl-menu-item::part(base):focus-within,
sl-menu-item::part(base):active,
sl-menu-item::part(base):target{
  background: $light;
}

#top-bar>input {
  font-size: 18px;
  outline: none;
  border: none;
}

* {
  font-family: "Lexend", sans-serif;
}

input:not(#top-bar>input) {
  background: white;
  color: black;
}

textarea {
  background: white;
  color: black;
}

#top-bar a sl-button {
  margin-top: 5px;
}

#top-bar sl-divider {
  --color: white;
}

